/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
header{
    font-size: 1.5rem;
    
}
body{
    background-image: linear-gradient(120deg, orange,rgb(245, 193, 97));
    min-height: 100vh;
    /* color :white; */
  
}

header,form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form input,form button{
    padding: 0.5rem;
    font-size: 2rem;
    /* background: white; */
    border: none;
}
.form-submit{
    background-color: orange;
    color: black
}
.form-submit:hover{
    cursor: pointer;

}
.todo-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    min-width: 40%;
    list-style: none;
}
.todo{
    margin: 1%;
    padding: 1%;
    color: black;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 4.5vh;
    font-size: 1.5rem;
    transition: all 0.5s ease;
}
.todo li{
    flex: 1;

}
.trashed-btn,.completed-btn{
    border: none;
    cursor: pointer;
}
.trashed-btn{
    color: white;
    background-color: red;

}
.completed-btn{
    color: wheat;
    background-color: seagreen;
}
.fa-check,.fa-trash{
    pointer-events: none;
}

.fall  {

    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
 

